#magicGifs {
    min-height: 700px;
    background: #121c50;
}

.giphy {
    margin: 6px;
    height: 50px;
    min-width: 240px;
    padding: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #757171;
    background-color: #eeeeee;
    color: #777777;
    font-size: 20px;
    line-height: 38px;
}

body {
    background-image: url("../assets/images/American-Flag.jpg");
    font-size: 20px;
}

#add-name{

    color:white;
    background-color: #121c50;

}

.jumbotron {
    min-height: 180px;
    padding: 6px;
    margin-top: 12px;
    background-color: #121c50;
    color:white;
}

#headline {
    display: inline;
    float: left;
}

#side {
    display: inline;
    float: right;
    border-color: #757171;
    border-style: solid;
    border-width: 3px;
    margin-top: 8px;
    padding: 34px;
    background-color: #e2333f;
}

.callName {
    margin: 8px;
}

p{

    color:white;
}

#gif-buttons {
    min-height: 200px;
    border-color: #757171;
    border-style: solid;
    border-width: 16px;
    margin-bottom: 16px;
    background-color: #e2333f;
}

.item {
    float: left;
    margin-right: 18px;
}
